djangoenv/
.venv
.venv/
.idea
.idea/
debug_kakao_page.html
.DS_Store

.env
snack/snack/__pycache__/settings.cpython-312.pyc


__pycache__/
*.pyc
*.pyo
*.pyd
snack/.DS_Store
snack/.DS_Store
snack/.DS_Store
